.form-text-vide-container {
	display:flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;

	.reset-button__container {
		display:flex;
		width: 10%;
		justify-content: center;
	}
}
.form-text-video {
	width: 100%;
	margin: 5px auto;

	form {
		width: 100%;
		input {
			width: 100%;
			border-radius:10px;
			height: 25px;
			line-height:25px;
			border: 1px solid #ccc;
			padding-left: 5px;
			outline: none;
		}
	}
}
