.related-video__container {
	width: 100%;
	max-height: 500px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;

	border: 1px solid #cdcdcd;
	margin: 5px auto;
}

.related__image {
	width: 40%;
	display: flex;

	img {
		width: 100%;
	}
}

.related__details {
	width: 60%;
	padding: 0 10px;
	text-align: justify;
}
