.video-list-container {
	display: flex;
}

.vidyard__videos-container {
	display: flex;
	flex-wrap: wrap;
}

.vidyard-component {
	position:relative;
	width: 50%;
	box-sizing:border-box;
	cursor: pointer;

	&__video-details {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0, 0.8) 80%);

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		transition: opacity 0.5s;
		opacity: 0;

		&:hover {
			transition: opacity 0.5s;
			opacity: 1;
		}
		.video-details__details {
			width: 70%;
			color: white;
		}

		.video-details__tags {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: flex-end;
			width: 70%;

			.tags__tag {
				margin: 9px;
				background: lightgrey;
				padding: 2px 10px;
				border-radius: 10px;
				box-sizing: border-box;
				color: black;
			}
		}
	}

	&__thumbnail {
		width: 100%;
		height: 100%;

		.thumbnail__image {
			width: 100%;
			height:100%
		}
	}
}




// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
