.video__overlay {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	svg {
		position: absolute;
		top: 50%;
		left:50%;
		transform: translateX(-50%) translateY(-100%);
	}
}

.vidyard-video {
	width: 80%;
	margin: 0 auto;
}

.video__description p {
	text-align: justify;
}

.video-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.back-link {
	color: black;
}

.vidyard__chapters {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;

	.chapters__element {
		flex-grow: 1;
		max-width: 50%;
		box-sizing: border-box;

		.chapters__button {
			width: 100%;
			padding: 5px;
			cursor: pointer;
			border: 1px solid darken(#ccc, 30%);
			color: darken(#ccc, 50%);
			outline: none;

			&:hover {
				color: white;
				background: darken(#ccc, 30%);

			}
		}
	}
}
