.vidyard-tags {
	padding-right: 20px;

	.tags-list {
		list-style: none;
		padding-left: 5px;

		li {
			padding: 5px 0;
			margin-bottom: 5px;
			margin-right:0;

			a {
				min-width: 80%;
				padding: 5px 10px;
				cursor: pointer;
				color: darkgray;

				&.active {
					color: black;
				}
			}
		}
	}
}
